<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//cdn.jsdelivr.net/phaser/2.6.2/phaser.min.js"></script>

    <style>


    </style>

</head>
<body>

<div id="container">
    <canvas id="canvas" ></canvas>
</div>

<script src="/public/javascripts/word_invade.js"></script>


</body>
</html>