<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Original</title>
    <script src="//cdn.jsdelivr.net/phaser/2.6.2/phaser.min.js"></script>

</head>
<body>

<p class="numbers"><a href="/">Word Invaders</a> </p>

<div id="container">
    <canvas id="canvas" ></canvas>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascripts/original.js"></script>


</body>
</html>