body {
  /* padding: 1px;              was 50 */
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;  /* was 24 */
}
a {
  color: #00B7FF;
}
p {
  text-align: center;
}
/* https://stackoverflow.com/questions/5127937/how-to-center-canvas-in-html5 */
canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* https://stackoverflow.com/questions/7282557/css-html-line-appears-at-bottom-of-page */
.inner {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 3px;
}
